@import "/css/web-beauty.css";

/* Header */
.navigation .primary {
  font-weight: normal;
}

.navigation .secondary {
  font-weight: bolder;
}

/* Container */
.container {
  flex-direction: row;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: max-content;
}

/* Sidebar */
.drawer {
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  width: 20%;
  box-shadow: 5px 5px 5px var(--badge-offline);
}

.drawer .list {
  flex-direction: column;
}

.drawer .list-item {
  padding: 0.5rem;
}

.list-item .link {
  text-decoration: none;
  color: var(--default);
}

/* Main Content */
.main-content {
  font-size: 1rem;
  width: 80%;
  padding: 2rem;
}

.order-list {
  padding: 1rem;
}

.avatar {
  flex-wrap: wrap;
  margin: auto;
}

.border {
  padding: 0.5rem 0.5rem;
  width: 70rem;
  text-align: center;
  border: 1px solid var(--badge-offline);
}

.align .border {
  width: 70rem;
}

.card{
  margin: auto;
}

.text-overlay .header .brand {
  position: absolute;
  top: 8rem;
}

.text-overlay .header .price {
  position: absolute;
  top: 9.5rem;
}

.normal-list .list-item,
.stacked-list .list-item {
  color: var(--default);
}

.stacked-list {
  margin: auto;
  text-align: center;
  border: 1px solid var(--default);
  width: 10rem;
}

.stacked-list .list-item {
  margin: 0;
  display: block;
  color: var(--white-section);
  border-bottom: 1px solid var(--default);
}

.navi .border {
  width: 50rem;
}

.simple-navigation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--badge-offline);
  font-size: 1rem;
}

.simple-navigation .nav-list {
  width: 50%;
}

.simple-navigation .list-item {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--default);
}

.modal,
.toast {
  margin: auto;
}

.modal .btn {
  border: none;
}

.toast .main-content{
  width: 100%;
}

.center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-2,
.grid-3 {
  margin: auto;
}

/* Footer */
.footer {
  display: block;
}

@media  screen and (max-width:480px) {
  .drawer{
    display: none;
  }
  
  iframe{
    display: none;
  }

  .main-content{
    width: 100%;
  }
}

@media screen and (min-width:480px) and (max-width: 786px) {
  .drawer{
    display: none;
  }

  .main-content{
    width: 100%;
  }
}
