@import "/css/web-beauty.css";

.area{
    font-size: 1rem;
}

h1{
    font-size: 2em;
}

/* Nav bar */
.docs-header{
    width: 100%;
}
.navigation{
    width: 100%;
    padding: 1.5rem;
    display: inline-flex;
    background-color: var(--badge-online-hover);
    justify-content: space-between;
}

.nav-header{
    color: var(--white-section);
}

.nav-list{
    margin-top: .5rem;
    width: 10rem;
    display: inline-block;
    list-style: none;
    font-size: 1rem;
}

.list-item{
    text-decoration: none;
    display: inline;
    margin: 0 1rem;
    color: var(--white-section);
}

.primary{
    font-weight: bolder;
}

.hamburger{
    padding-top: .4rem;
    display: none;
}

.fas .fa-bars{
    padding: 0 1rem;
    display: none;
    color: var(--white-section);
}

/* Header */
.header{
    display: none;
}

/* Container */

.container{
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    height: 100%;
}

.container-img{
    width: 50%;
    border-radius: var(--retina-border-radius);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.sub-container{
    margin: auto;
    align-self: center;
    justify-self: center;
    width: 50%;
    flex: 1 1 auto;
}

.container-header{
    text-align: center;
    font-size: 2rem;
}

.container-text{
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.link-btn{
    margin: auto;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link-btn .link{
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--badge-online-hover);
    border-radius: var(--retina-border-radius);
}

.link-btn .link-primary{
    margin-top: 1rem;
    background-color: var(--badge-online-hover);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--white-section);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.link-btn .link-primary:hover{
    background-color: var(--badge-online);
}

.link-btn .link-secondary{
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--badge-online);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.link-btn .link-secondary:hover{
    background-color: var(--white-section-hover);
}

/* Footer */

.main-footer{
    width: 100%;
    padding: .5rem;
    background-color: var(--badge-online-hover);
}

.footer-header{
    text-align: center;
    color: var(--white-section);
    font-size: 1.5rem;
}

.footer-link{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.footer-link .link{
    margin: 0 2rem;
}

.footer-link .fa-github, .footer-link .fa-twitter, .footer-link .fa-linkedin-in{
    color: var(--white-section);
}

@media screen and (max-width: 786px){
    .hamburger{
        display: inline;
        cursor: pointer;
        color: var(--white-section);
    }
    .nav-list{
        display: block;
        width: 100%;
        position: absolute;
        border: 1px solid var(--badge-online-hover);
        top: 4.5rem;
        left: -100%;
        background-color: var(--white-section);
    }
    .nav-list.active{
        left: 0;
    }
    .list-item{
        display: flex;
        padding: 1rem;
        color: var(--badge-online-hover);
    }
    .list-item:hover{
        text-decoration: underline;
        background-color: var(--white-section-hover);
    }
    .container-img{
        margin: auto;
        width: 70%;
    }
    .sub-container{
        margin-top: 2rem;
        width: 100%;
    }
} 
