*{
    box-sizing: border-box;
}

:root{
    --alert-warning: orange;

    --round-border-radius: 50%;
    --retina-border-radius: 1rem;

    --badge-online:green;
    --badge-offline:thistle;
    --badge-dnd:red;
    --active:blue;
    --white-section:white;
}

body{
    font-size: 62.5%;
}
