*{
    box-sizing: border-box;
}

:root{
    --round-border-radius: 50%;
    --badge-online:green;
    --badge-offline:thistle;
    --badge-dnd:red;
    --active:blue;
    --white-section:white;
}

body{
    font-size: 62.5%;
}
