*{
    box-sizing: border-box;
}

:root{
    --badge-online:green;
    --badge-offline:thistle;
    --badge-dnd:red;
    --active:blue;
    --white-section:white;
  
    --round-border-radius: 50%;
    --retina-border-radius: 1rem;
}

body{
    font-size: 62.5%;
}

.sm{
    width: 3rem;
    height: 3rem;
}
