@import "../style.css";

.badge{
    display: inline-block;
    margin: 10px;
    position: relative;
}

.avatar{
    border-radius: var(--avatar-border-radius);
}

.badge div{
    width: 10px;
    height: 10px;
    border-radius: var(--avatar-border-radius);
    position: absolute;
    bottom: 5px;
    right: 5px;
    border: 2px solid white;
}

.online{
    background-color: var(--online);
}

.offline{
    background-color: var(--offline);
}

.dnd{
    background-color: var(--dnd);
}

.badge .fas{
    font-size: 2rem;
}

.badge .number{
    background-color: var(--active);
    color: var(--white);
    border-radius: var(--avatar-border-radius);
    position: absolute;
    top: -3px;
    right: -10px;
}