@import "../style.css";

.btn{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.btn-primary{
    background-color: var(--badge-online);
    color: var(--white-section);
}

.btn-secondary{
    background-color: var(--badge-offline);
    color: var(--white-section);
    color: var(--default);
    border: none;
}

.btn-success{
    background-color: var(--alert-warning);
    color: var(--white-section);
}

.btn-danger{
    background-color: var(--badge-dnd);
    color: var(--white-section);
}

.outline-primary{
    color: var(--badge-online);
    background-color: var(--white-section);
}

.outline-secondary{
    color: var(--default);
    background-color: var(--white-section);
}

.outline-success{
    color: var(--alert-warning);
    background-color: var(--white-section);
}

.outline-danger{
    color: var(--badge-dnd);
    background-color: var(--white-section);
}

.btn-link{
    background-color: var(--active);
    padding: 10px 20px;
    cursor: pointer;
}

.btn-link a{
    color: var(--white-section);
    text-decoration: none;
}

.btn-img{
    background-color: var(--active);
    color: var(--white-section);
}
