@import "../style.css";

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 12rem;

  border: 1px solid var(--badge-offline);
  background-color: var(--badge-offline);
  border-radius: 1rem;
  margin: 0.5rem;
}

.header {
  text-align: left;
  padding: 0 5px;
  color: var(--default);
  font-weight: bolder;
}

.img {
  width: 100%;
  height: 6rem;
}

.text {
  padding: 0 10px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
}

.card-footer .btn {
  background-color: var(--badge-offline);
  border: none;
}

.btn .primary,
.btn .secondary {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--default);
}

.btn .primary:hover,
.btn .secondary:hover {
  color: var(--alert-warning);
}

.icon {
  align-self: center;
  font-size: 1rem;
  margin: 0 5px;
  color: var(--default);
}

.icon .fa-heart:hover {
  color: var(--badge-dnd);
}

.icon .fa-shopping-cart:hover {
  color: var(--badge-online);
}

/* Card with badge */

.card .badge-text{
  background-color: var(--white-section);
  width: 50px;
  padding: .2rem;
  text-align: center;
  position: absolute;
  top: 10x;
  right: 0;
}

/* Card with dismiss */

.dismiss .badge-text {
  display: none;
}

/* Card with text overlay */
.text-overlay{
  opacity: 60%;
}

.text-overlay .overlay{
  width: 100%;
  padding: .5rem;
  position: absolute;
  top: 5rem;
  background-color: var(--white-section);
  text-align: center;
}

.text-overlay .badge {
  display: none;
}

.text-overlay .header .brand {
  position: absolute;
  top: 6rem;
  color: var(--white-section);
}

.text-overlay .header .price {
  position: absolute;
  top: 7.5rem;
  color: var(--white-section);
}

.text-overlay .img {
  height: 60%;
  margin-bottom: 5px;
}

/* Text only card */
.only-text{
  height: 11rem;
}

.only-text .header {
  text-align: center;
}

.only-text .img {
  display: none;
}

/* Horizontal Card */

.horizontal {
  width: 15rem;
  height: 12rem;
}

.horizontal .container1 {
  height: 50%;
  display: flex;
}

.horizontal .header {
  order: 2;
}

.horizontal-header .price {
  width: 40%;

}

.horizontal .img {
  width: 60%;
  height: 100%;
  order: 1;
}

.horizontal .text {
  order: 3;
  margin: 0.5rem 0;
}

.horizontal .card-footer {
  order: 4;
}

/* Card with shadow */

.shadow {
  box-shadow: 15px 15px 10px;
}
