@import "../style.css";

.parent-grid{
    margin: 1rem;
    grid-row-gap: 1rem;
}

.grid{
    font-size: 1rem;
    width: max-content;
    grid-row-gap: 1rem;
}

.grid-2{
    grid-template-rows: repeat(2, 2rem);
}

.grid-3{
    grid-template-rows: repeat(3,2rem);
}

.grid-item{
    background-color: var(--badge-offline);
    padding: .5rem;
    text-align: center;
}
