@import "../style.css";

.image-container{
    background-color: var(--badge-offline);
    width: max-content;
}

.round .img-size{
    border-radius: var(--round-border-radius);
}

.img-size{
    width: 13rem;
    height: 13rem;
}

.img-size-retina{
    width: 100%;
    height: 18rem;
    object-fit: cover;
} 
