@import "../style.css";

body{
    background-color: var(--badge-offline);
}

.input-form{
    background-color: var(--white-section);
    width: max-content;
    padding: 1rem;
}

.input-name,.input-password,.input-submit{
    margin: 1rem;
}

.input-submit{
    text-align: center;
}

.input-name label,.input-password label,.input-submit label{
    padding: 10px;
    font-size: 1rem;
    color: var(--active);
    font-weight: bolder;
}

.input-name .input,.input-password .input,.input-submit .input{
    padding: 10px;
    border-radius: var(--retina-border-radius);
    border: 2px solid var(--active);
    color: var(--active);
    font-weight: bolder;
}

.input-submit .input{
    cursor: pointer;
    background-color: var(--active);
    border: 1px solid var(--active);
    border-radius: var(--retina-border-radius);
    color: var(--white-section);
}
