@import "../style.css";

.modal{
    background-color: var(--badge-offline);
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
}

.modal .title{
    padding: .5rem;
    justify-content: space-between;
}

.modal .title .fa-times{
    font-size: 2rem;
}

.modal .content{
    padding: 1rem;
}

.modal .btn{
    justify-content: flex-end;
    gap: .5rem;
    padding: .5rem;
}

.modal .btn .primary{
    padding: .5rem;
    color: var(--white-section);
    background-color: var(--alert-warning);
    border: none;
    border-radius: 5px;
}

.modal .btn .secondary{
    padding: .5rem;
    color: var(--white-section);
    background-color: var(--active);
    border: none;
    border-radius: 5px;
}
