@import "../style.css";

/* Simple Navigation */
.simple-navigation{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--badge-offline);
    font-size: 1rem;
}

.simple-navigation .list-item{
    margin: 0 1rem;
    text-decoration: none;
    color: var(--default);
}
