@import "../style.css";

/* Heading */
.heading {
  text-align: center;
}

.heading1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.heading2 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.heading3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.heading4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

.heading5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.heading6 {
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
}

/* Text-size */
.text-size {
  text-align: center;
  padding: 1rem;
  background-color: var(--alert-warning);
  font-size: 1rem;
}

/* Text-size */

.text-small {
  font-size: small;
}

.text-medium {
  font-size: medium;
}

.text-large {
  font-size: large;
}

/* Text-color */
.text-color {
  text-align: center;
}

.text-gray {
  font-size: 1rem;
  color: var(--badge-offline);
}

.text-blue {
  font-size: 1rem;
  color: var(--active);
}

/* Text-align */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
