@import "../style.css";

.toast{
    margin: 1rem;
    font-size: 1rem;
    background-color: var(--badge-offline);
    padding: 1rem;
}

.toast .header{
    display: flex;
    justify-content: space-between;
}
