@import "../style.css";

.area{
    font-size: 1rem;
}

/* Nav bar */
.navigation{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.nav-img{
    display: inline-block;
    width: 12rem;
}

.nav-list{
    padding-top: 1rem;
    width: 10rem;
    display: inline-block;
    list-style: none;
    font-size: 1rem;
}

.list-item{
    text-decoration: none;
    display: inline;
    margin: 0 1rem;
    color: var(--badge-online);
}

.primary{
    font-weight: bolder;
}

/* Container */

.container{
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
    height: 100%;
}

.container-img{
    width: 50%;
    border-radius: var(--retina-border-radius);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.sub-container{
    align-self: center;
    justify-self: center;
    width: 50%;
    flex: 1 1 auto;
}

.container-header{
    text-align: center;
    font-size: 2rem;
}

.container-text{
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.link-btn{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 15rem;
}

.link-btn .link{
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--badge-online);
    border-radius: var(--retina-border-radius);
}

.link-btn .link-primary{
    margin-top: 2rem;
    background-color: var(--badge-online);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--white-section);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.link-btn .link-primary:hover{
    background-color: var(--badge-online-hover);
}

.link-btn .link-secondary{
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--badge-online);
    box-shadow: 5px 5px 5px var(--badge-offline);
}

.link-btn .link-secondary:hover{
    background-color: var(--white-section-hover);
}

/* Footer */

.footer{
    width: 100%;
    padding: 2rem;
    background-color: var(--badge-online-hover);
}

.footer-header{
    text-align: center;
    color: var(--white-section);
    font-size: 1.5rem;
}

.footer-link{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.footer-link .link{
    margin: 0 2rem;
}

.footer-link .fa-github, .footer-link .fa-twitter, .footer-link .fa-linkedin-in{
    color: var(--white-section);
}

@media screen and (max-width: 480px) {
    .container-img{
        width: 100%;
    }

    .sub-container{
        width: 100%;
    }
}
