@import "/css/helper/main.css";
@import "/css/style.css";
@import "/css/components/Avatar.css";
@import "/css/components/Alert.css";
@import "/css/components/Badge.css";
@import "/css/components/Button.css";
@import "/css/components/Card.css";
@import "/css/components/Image.css";
@import "/css/components/Input.css";
@import "/css/components/Text-utility.css";
@import "/css/components/list.css";
@import "/css/components/Navigation.css";
@import "/css/components/Modal.css";
@import "/css/components/Rating.css";
@import "/css/components/Toast.css";
@import "/css/components/Grid.css";

.navigation .primary {
  font-weight: normal;
}

.navigation .secondary {
  font-weight: bolder;
}

.container {
  flex-direction: row;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: max-content;
}

.drawer {
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  width: 20%;
  box-shadow: 5px 5px 5px var(--badge-offline);
}

.drawer .list {
  flex-direction: column;
}

.drawer .list-item {
  padding: 0.5rem;
}

.list-item .link {
  text-decoration: none;
  color: var(--default);
}

.main-content {
  font-size: 1rem;
  width: 80%;
  padding: 2rem;
}

.order-list {
  padding: 1rem;
}

.avatar {
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.border {
  padding: 0 3rem;
  border: 1px solid var(--badge-offline);
}

.align .border {
  width: 70rem;
}

.normal-list .list-item,
.stacked-list .list-item {
  color: var(--default);
}

.stacked-list {
  text-align: center;
  border: 1px solid var(--default);
  width: 10rem;
}

.stacked-list .list-item {
  margin: 0;
  display: block;
  color: var(--white-section);
  border-bottom: 1px solid var(--default);
}

.navi .border {
  width: 50rem;
}

.simple-navigation {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--badge-offline);
  font-size: 1rem;
}

.simple-navigation .nav-list {
  width: 50%;
}

.simple-navigation .list-item {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--default);
}

.modal .btn {
  border: none;
}

